.hero{
    height: 88vh;
    background-image: url('../../../public/kashif.jpeg');
    background-position: center;
    background-size: cover;
}
.hero-container{
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.hero-container>span:nth-of-type(1){
    font-size: 35px;
    font-weight: 500;
}
.hero-container>span:nth-of-type(2){
    font-size: 22px;
    font-weight: 500;
}
.hero-container>button{
    padding: 15px 40px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #34b7a7;
    color: white;
    font-weight: bold;
}